/* Header */

.n-header {
    z-index: 200;
    width: 100vw;
    background: #fff;
    padding: 12px 0;
    height: 60px;
    -webkit-transition: height .6s ease,padding .6s ease,opacity 1s cubic-bezier(.77,0,.175,1) .8s,-webkit-box-shadow .6s ease;
    transition: height .6s ease,padding .6s ease,opacity 1s cubic-bezier(.77,0,.175,1) .8s,-webkit-box-shadow .6s ease;
    transition: box-shadow .6s ease,height .6s ease,padding .6s ease,opacity 1s cubic-bezier(.77,0,.175,1) .8s;
    transition: box-shadow .6s ease,height .6s ease,padding .6s ease,opacity 1s cubic-bezier(.77,0,.175,1) .8s,-webkit-box-shadow .6s ease;
}
.n-header {
    -webkit-box-shadow: 0 1px 1px rgba(31,31,31,.11);
    box-shadow: 0 1px 1px rgba(31,31,31,.11);
}

.n-megamenu, .n-footer {
    display: block;
}
.n-megamenu, .n-footer {
    float: right;
}
.n-megamenu>li {
    float: left;
    margin-left: 31px;
    line-height: 1.4;
    -webkit-transition: opacity .25s ease,visibility 0s 0s;
    transition: opacity .25s ease,visibility 0s 0s;
    opacity: 1;
    visibility: visible;
}
.n-megamenu>li>a {
    font-family: 'Inter';
    font-size: 23px;
    color: #212529;
    font-weight: 400;
    text-decoration: none;
    position: relative;
    width: 100%;
    overflow: hidden;
}
.n-footer>li {
    float: left;
    margin-left: 30px;
    -webkit-transition: opacity .25s ease,visibility 0s 0s;
    transition: opacity .25s ease,visibility 0s 0s;
}
ol, ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav-link {
  padding: 0;
}


/* Footer
*/
.footer {
    background: black;
    color: #fff;
}

.footer a {
    color: #fff;
}
.lower-footer {
    padding: 40px 0px;
    border-top: 1px solid #4c5151;
}


/* CTA */

.call-to-action-button {
    position: fixed;
    z-index: 10000;
    border-radius: 30px;
    background: #ff5c5c;
    bottom: 15px;
    right: 15px;
    color: #fff;
    line-height: 0;
    padding: 10px;
    font-size: 30px;
    cursor: pointer;
    border: 1px solid #ff5c5c;
    min-width: 52px;
    max-width: 300px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.call-to-action-button:hover {
    color: #ff5c5c;
    background: #fff;
}





@media (min-width: 960px){
    .n-header {
        padding: 40px 0;
        height: 120px;
    }

    .call-to-action-button {
        border-radius: 30px;
        padding: 25px;
        font-size: 20px;
    }
}





/**
 * Menu styles needed to make JS work
 */
 .dropdown:hover>.dropdown-menu {
    display: block;
    //For animation
    max-height: 400px;
    opacity: 1;
  }
  .dropdown>.dropdown-menu {
    margin: 0;
    // For animation
    transition: all 0.3s;
    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
  }


/* Video Wrapper */
.header-video-wrapper {
    position: relative;
    width: 100%;
}
.header-video-init .header-video-wrapper .header-video {
    opacity: 1;
    height: calc(88% - 120px);
    top: 60px;
}
.header-video-wrapper .header-video {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    opacity: 0;
    -webkit-transition: opacity .8s ease-in-out .2s,width 1s cubic-bezier(.77,0,.175,1) .2s,top 1s cubic-bezier(.77,0,.175,1) .2s,height 1s cubic-bezier(.77,0,.175,1) .2s,-webkit-transform .8s cubic-bezier(.77,0,.175,1) .2s;
    transition: opacity .8s ease-in-out .2s,width 1s cubic-bezier(.77,0,.175,1) .2s,top 1s cubic-bezier(.77,0,.175,1) .2s,height 1s cubic-bezier(.77,0,.175,1) .2s,-webkit-transform .8s cubic-bezier(.77,0,.175,1) .2s;
    transition: opacity .8s ease-in-out .2s,transform .8s cubic-bezier(.77,0,.175,1) .2s,width 1s cubic-bezier(.77,0,.175,1) .2s,top 1s cubic-bezier(.77,0,.175,1) .2s,height 1s cubic-bezier(.77,0,.175,1) .2s;
    transition: opacity .8s ease-in-out .2s,transform .8s cubic-bezier(.77,0,.175,1) .2s,width 1s cubic-bezier(.77,0,.175,1) .2s,top 1s cubic-bezier(.77,0,.175,1) .2s,height 1s cubic-bezier(.77,0,.175,1) .2s,-webkit-transform .8s cubic-bezier(.77,0,.175,1) .2s;
}
.header-video-init .header-video-wrapper .header-video video {
    -webkit-transform: scale(1);
    transform: scale(1);
}
.header-video-wrapper .header-video video {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    background: #1f1f1f;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
@media (min-width: 992px){
    .header-video-init .header-video-wrapper .header-video {
        width: 95%;
        top: 40px;
    }
}