.n-header {
    z-index: 200;
    width: 100vw;
    background: #fff;
    padding: 12px 0;
    height: 60px;
    -webkit-transition: height .6s ease,padding .6s ease,opacity 1s cubic-bezier(.77,0,.175,1) .8s,-webkit-box-shadow .6s ease;
    transition: height .6s ease,padding .6s ease,opacity 1s cubic-bezier(.77,0,.175,1) .8s,-webkit-box-shadow .6s ease;
    transition: box-shadow .6s ease,height .6s ease,padding .6s ease,opacity 1s cubic-bezier(.77,0,.175,1) .8s;
    transition: box-shadow .6s ease,height .6s ease,padding .6s ease,opacity 1s cubic-bezier(.77,0,.175,1) .8s,-webkit-box-shadow .6s ease;
}

.n-megamenu {
    display: block;
}
.n-megamenu {
    float: right;
}
.n-megamenu>li {
    float: left;
    margin-left: 31px;
    line-height: 1.4;
    -webkit-transition: opacity .25s ease,visibility 0s 0s;
    transition: opacity .25s ease,visibility 0s 0s;
    opacity: 1;
    visibility: visible;
}
.n-megamenu>li>a {
    font-family: 'Inter';
    font-size: 23px;
    color: #212529;
    font-weight: 400;
    text-decoration: none;
    position: relative;
    width: 100%;
    overflow: hidden;
}
ol, ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav-link {
  padding: 0;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

.call-to-action-button {
    position: fixed;
    z-index: 10000;
    border-radius: 30px;
    background: #ff5c5c;
    bottom: 15px;
    right: 15px;
    color: #fff;
    line-height: 0;
    padding: 10px;
    font-size: 30px;
    cursor: pointer;
    border: 1px solid #ff5c5c;
    min-width: 52px;
    max-width: 300px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}


@media (min-width: 960px){
    .n-header {
        padding: 40px 0;
        height: 120px;
    }

    .call-to-action-button {
        border-radius: 30px;
        padding: 25px;
        font-size: 20px;
    }
}