@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

/* Colours */

.blue {
    background: #345DEE;
}

.orange {
    background: #fc5a1e;
}

.violet {
    background: #5856d6;
}

.pink {
    background: #ee3465;
}


/* Typography */

body {
    font-family: 'Inter', sans-serif;
}

h2 {
    font-size: 48px;
    line-height: 60x;
    letter-spacing: -2px;
    margin-bottom: 24px;
}


/* Header */

.n-header {
    z-index: 200;
    width: 100%;
    background: #fff;
    padding: 12px 0;
    height: 60px;
    -webkit-transition: height .6s ease, padding .6s ease, opacity 1s cubic-bezier(.77, 0, .175, 1) .8s, -webkit-box-shadow .6s ease;
    transition: height .6s ease, padding .6s ease, opacity 1s cubic-bezier(.77, 0, .175, 1) .8s, -webkit-box-shadow .6s ease;
    transition: box-shadow .6s ease, height .6s ease, padding .6s ease, opacity 1s cubic-bezier(.77, 0, .175, 1) .8s;
    transition: box-shadow .6s ease, height .6s ease, padding .6s ease, opacity 1s cubic-bezier(.77, 0, .175, 1) .8s, -webkit-box-shadow .6s ease;
}

.n-header {
    -webkit-box-shadow: 0 1px 1px rgba(31, 31, 31, .11);
    box-shadow: 0 1px 1px rgba(31, 31, 31, .11);
}

.n-megamenu,
.n-footer {
    display: block;
}

.n-megamenu,
.n-footer {
    float: right;
}

.n-megamenu>li {
    float: left;
    margin-left: 30px;
    -webkit-transition: opacity .25s ease, visibility 0s 0s;
    transition: opacity .25s ease, visibility 0s 0s;
    opacity: 1;
    visibility: visible;
}

.n-megamenu>li>a {
    color: #18214D;
    font-size: 16px;
    line-height: 29px;
    letter-spacing: -0.2px;
    padding: 0;
}

.n-footer>li {
    float: left;
    margin-left: 30px;
    -webkit-transition: opacity .25s ease, visibility 0s 0s;
    transition: opacity .25s ease, visibility 0s 0s;
}

ol,
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-link {
    padding: 0;
}


/* Service Block */

.single-box {
    height: auto;
    margin-bottom: 20px;
    background-color: #fff;
    transition: .2s ease-in-out;
    padding: 10px 5px 20px;
    border-radius: 12px;
}

.single-box-icon {
    text-align: center;
}

.single-box-icon svg {
    max-width: 200px;
    height: auto;
}

.box-inner {
    width: 100%;
    height: auto;
    display: block;
}

.post-text {
    text-align: center;
    padding: 10px;
    width: 100%;
}

.post-text h3 {
    font-size: 22px;
}

.service {
    margin-top: 40px;
}

.single-box:hover {
    background: #345dee;
}

.single-box:hover .post-text a {
    color: white;
}


/* Testimonial Block */

.testimonials {
    display: flex;
}

.testimonials .testimonial {
    padding: 40px;
    font-weight: 300;
    line-height: 1.7em;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    text-align: left;
    border-radius: 20px;
    box-shadow: 0 0 10px -1px rgba(0, 0, 0, .2);
}

.testimonials .testimonial .testimonial-quote {
    display: flex;
    font-family: Merriweather, serif;
    font-weight: 300;
}

.testimonials .testimonial img {
    width: 80px;
    height: auto;
    border-radius: 100px;
    display: inline-flex;
}

.testimonials .testimonial .testimonial-who {
    margin-top: 2em;
    font-size: 18px;
    line-height: 1.5em;
    display: flex;
    align-items: center;
}

.testimonials .testimonial .testimonial-name {
    font-weight: 500;
    margin-left: 20px;
}

.testimonial.slite {
    background: #ffae00;
}

.testimonial.helpdocs {
    background: $lightblue;
    color: #fff;
}


/* CTA-Contact */

.cta-contact {
    overflow: hidden;
    width: 100%;
    background: linear-gradient(91.56deg, #345dee 0, #5856d6 122.55%);
}

.signup-banner {
    padding-top: 60px;
}

.signup-banner-heading {
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -2px;
    margin-bottom: 24px;
    font-weight: 500;
    color: #fff;
}

.button {
    display: inline-block;
    cursor: pointer;
}

.button.light {
    color: #334ac0;
    background-color: #fff;
    box-shadow: 0 0.2rem 0.5rem rgba(103, 110, 144, .2), 0 0 0 0.1rem rgba(103, 110, 144, .05);
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -.4px;
    border-width: 1px;
    border-style: solid;
    border-radius: 8px;
}

.button.big {
    padding: 10px 20px;
}


/* Footer */

footer {
    padding: 40px 0px;
}

.footer a {
    color: #fff;
}

.lower-footer {
    padding: 40px 0px;
    border-top: 1px solid #4c5151;
}

.footer-text {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.2px;
    font-weight: 400;
}

.footer-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.4px;
    margin-bottom: 23px;
    margin-top: 8px;
    color: #18214D;
}

.footer-list {
    margin: 0 0 87px 0;
    padding: 0;
    list-style-type: none;
}

.footer-list li a {
    color: #18214d80;
    font-size: 16px;
    line-height: 19px;
    display: inline-block;
}

.footer-list li a:hover {
    text-decoration: none;
}

.copyright,
.n-footer>li a {
    font-size: 14px;
    color: #18214d80;
    letter-spacing: 0.1px;
}


/* CTA */

.call-to-action-button {
    position: fixed;
    z-index: 10000;
    border-radius: 30px;
    background: #EE3465;
    bottom: 15px;
    right: 15px;
    color: #fff;
    line-height: 0;
    padding: 10px;
    font-size: 30px;
    cursor: pointer;
    border: 1px solid #EE3465;
    min-width: 52px;
    max-width: 300px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    display: none;
}

.call-to-action-button:hover {
    color: #EE3465;
    background: #fff;
}

@media (min-width: 960px) {
    .n-header {
        padding: 20px 0;
        height: 80px;
    }
    .call-to-action-button {
        border-radius: 30px;
        padding: 25px;
        font-size: 20px;
    }
}


/**
 * Menu styles needed to make JS work
 */

.dropdown:hover>.dropdown-menu {
    display: block;
    //For animation
    max-height: 400px;
    opacity: 1;
}

.dropdown>.dropdown-menu {
    margin: 0;
    // For animation
    transition: all 0.3s;
    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}


/* Video Wrapper */

.header-video-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.header-video-init .header-video-wrapper .header-video {
    height: calc(88vh - 120px);
    top: 60px;
}

.header-video-wrapper .header-video {
    position: relative;
    top: 0;
    width: 100%;
    height: 95vh;
    margin: 0 auto;
    -webkit-transition: opacity .8s ease-in-out .2s, width 1s cubic-bezier(.77, 0, .175, 1) .2s, top 1s cubic-bezier(.77, 0, .175, 1) .2s, height 1s cubic-bezier(.77, 0, .175, 1) .2s, -webkit-transform .8s cubic-bezier(.77, 0, .175, 1) .2s;
    transition: opacity .8s ease-in-out .2s, width 1s cubic-bezier(.77, 0, .175, 1) .2s, top 1s cubic-bezier(.77, 0, .175, 1) .2s, height 1s cubic-bezier(.77, 0, .175, 1) .2s, -webkit-transform .8s cubic-bezier(.77, 0, .175, 1) .2s;
    transition: opacity .8s ease-in-out .2s, transform .8s cubic-bezier(.77, 0, .175, 1) .2s, width 1s cubic-bezier(.77, 0, .175, 1) .2s, top 1s cubic-bezier(.77, 0, .175, 1) .2s, height 1s cubic-bezier(.77, 0, .175, 1) .2s;
    transition: opacity .8s ease-in-out .2s, transform .8s cubic-bezier(.77, 0, .175, 1) .2s, width 1s cubic-bezier(.77, 0, .175, 1) .2s, top 1s cubic-bezier(.77, 0, .175, 1) .2s, height 1s cubic-bezier(.77, 0, .175, 1) .2s, -webkit-transform .8s cubic-bezier(.77, 0, .175, 1) .2s;
}

.header-video-init .header-video-wrapper .header-video video {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.header-video-wrapper .header-video video {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    background: #1f1f1f;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

@media (min-width: 992px) {
    .header-video-init .header-video-wrapper .header-video {
        width: 95%;
        top: 40px;
    }
}

.content-wrapper {}

.narrate-main-content {
    width: 100%;
    overflow: hidden;
}

@media (min-width: 992px) {
    .enable-scroll-animation .fx-fly-up.in-view {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    .enable-scroll-animation .fx-fly-up {
        opacity: 0;
        -webkit-transform: translateY(.5em);
        transform: translateY(.5em);
        -webkit-transition: opacity 1s cubic-bezier(.19, 1, .22, 1), -webkit-transform 1.5s cubic-bezier(.19, 1, .22, 1);
        transition: opacity 1s cubic-bezier(.19, 1, .22, 1), -webkit-transform 1.5s cubic-bezier(.19, 1, .22, 1);
        transition: transform 1.5s cubic-bezier(.19, 1, .22, 1), opacity 1s cubic-bezier(.19, 1, .22, 1);
        transition: transform 1.5s cubic-bezier(.19, 1, .22, 1), opacity 1s cubic-bezier(.19, 1, .22, 1), -webkit-transform 1.5s cubic-bezier(.19, 1, .22, 1);
    }
}

@media (min-width: 1200px) {
    .narrate-main-content {
        padding-top: 80px;
        padding-bottom: 140px;
    }
    .toolbox-element:not(.toolbox-headline):not(.prevent-bottom-space):not(.toolbox-anchor):not(.toolbox-spacer):not(.toolbox-separator) {
        margin-bottom: 75px;
    }
    .eyebrow-title {
        font-size: 20px;
        margin-bottom: 30px;
        line-height: 30px;
    }
}

@media (min-width: 1600px) {
    .toolbox-element:not(.toolbox-headline):not(.prevent-bottom-space):not(.toolbox-anchor):not(.toolbox-spacer):not(.toolbox-separator) {
        margin-bottom: 90px;
    }
}

.toolbox-element:last-child:not(.force-margin):not(.force-bottom-space) {
    margin-bottom: 0!important;
}

.toolbox-random-headline {
    position: relative;
}

.toolbox-random-headline .headline-item.visible {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: opacity .25s, visibility .25s, -webkit-transform .25s;
    transition: opacity .25s, visibility .25s, -webkit-transform .25s;
    transition: opacity .25s, visibility .25s, transform .25s;
    transition: opacity .25s, visibility .25s, transform .25s, -webkit-transform .25s;
    position: relative;
}

.visible {
    visibility: visible!important;
}

.eyebrow-title-wrapper .eyebrow-title {
    display: block;
    margin-bottom: 16px;
}


/* Logos */

.pane_heading-is-centered {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.pane_heading {
    position: relative;
    z-index: 1;
    max-width: 46rem;
}

.pane_heading_caption {
    font-weight: 700;
    letter-spacing: -.02em;
}

.pane_heading_caption {
    font-weight: 600;
    overflow-wrap: break-word;
    font-size: .875rem;
    line-height: 1.25rem;
    text-transform: uppercase;
    color: #fff;
}

.home-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    margin: 0 auto;
    list-style: none;
}

.home_logos_logo {
    margin: 1.5rem;
}


/* Sections */

.hero-section {
    padding-top: 80px;
    padding-bottom: 146px;
}

.section-lightgrey {
    padding-top: 120px;
    padding-bottom: 124px;
    background-color: #EFF2F6;
}


/* Home */

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.hero-section .section-subtitle {
    margin-bottom: 36px;
}

.section-subtitle {
    font-weight: 400;
}

p {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.4px;
    color: #18214D;
    margin-bottom: 0;
}

.row-first {
    padding-bottom: 130px;
}

a {
    color: #18214D;
    cursor: pointer;
    text-decoration: none;
    -webkit-transition: color 0.2s ease-in-out, background 0.2s ease-in-out, border 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out, background 0.2s ease-in-out, border 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out, background 0.2s ease-in-out, border 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out, background 0.2s ease-in-out, border 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, background 0.2s ease-in-out, border 0.2s ease-in-out;
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.hero-section .section-subtitle {
    margin-bottom: 36px;
}

.section-subtitle {
    font-weight: 400;
}

p {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.4px;
    color: #18214D;
    margin-bottom: 0;
}

.video-block {
    width: 97.5%;
    padding-bottom: 59.67%;
    border-radius: 5px;
}

.hero-desc {
    background-color: #040817;
    padding-top: 660px;
    padding-bottom: 40px;
}

.row-first {
    padding-bottom: 130px;
}

.section-buttons {
    margin-bottom: 46px;
}

.section-buttons a {
    height: 50px;
    min-width: 130px;
    line-height: 50px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.4px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
}

.btn-demo {
    background-color: #EE3465;
    border-color: #EE3465;
    margin-right: 10px;
}

.btn-see-pricing {
    background-color: #EFF2F6;
    border-color: #B1BDCC;
    margin-left: 10px;
}

.text-center {
    text-align: center!important;
}

.text-white {
    color: #fff!important;
}

.d-inline-block {
    display: inline-block!important;
}

a {
    color: #18214D;
    cursor: pointer;
    text-decoration: none;
    -webkit-transition: color 0.2s ease-in-out, background 0.2s ease-in-out, border 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out, background 0.2s ease-in-out, border 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out, background 0.2s ease-in-out, border 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out, background 0.2s ease-in-out, border 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, background 0.2s ease-in-out, border 0.2s ease-in-out;
}

.text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.badge.secondary {
    background-color: #EE3465;
}

.badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 9px;
    height: 25px;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 4px;
}

.description {
    padding: 0 20px;
    padding-top: 25px;
}


/* Product Description */

.product {
    margin-bottom: 40px;
}

.product-desc {
    display: flex;
    min-height: 480px;
    padding: 40px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background: #fff;
    color: #111;
    text-align: left;
}

.product-header__container-bg_hire {
    display: flex;
    overflow: hidden;
    padding-right: 0px;
    padding-left: 0px;
    flex: 1;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #40a16a;
    min-height: 480px;
}

.hire-cover-right {
    display: flex;
    padding-right: 0px;
    padding-left: 0px;
    justify-content: flex-end;
    flex: 1;
    background-image: url(https://assets.website-files.com/58d684124f3644b01d649b26/5979b0ded907720001a072db_Playbook_HIRE.png), -webkit-gradient(linear, left top, left bottom, from(#40a16a), to(#40a16a));
    background-image: url(https://assets.website-files.com/58d684124f3644b01d649b26/5979b0ded907720001a072db_Playbook_HIRE.png), linear-gradient(180deg, #40a16a, #40a16a);
    background-position: 50% 100%, 0px 0px;
    background-size: contain, auto;
    background-repeat: no-repeat, repeat;
}

.product-header__credits {
    position: relative;
    left: 0px;
    bottom: 0px;
    display: flex;
    margin-right: 15px;
    margin-bottom: 15px;
    align-self: flex-end;
    flex: 0 auto;
    color: hsla(0, 0%, 100%, 0.5);
}


/* Work Items */

.work-item {
    position: relative;
    display: flex;
    overflow: hidden;
    max-height: 660px;
    min-height: 660px;
    margin-bottom: 30px;
    padding: 40px;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    background-color: rgba(15, 3, 34, .1);
    text-decoration: none;
}

.portfolio-row-grid {
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 0;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}

.work-item.work-item-half {
    padding-top: 40px;
    padding-bottom: 0;
    flex-direction: column;
    justify-content: space-between;
}

a.work-item:hover {
    text-decoration: none;
}


/* Work Item Testimonials */

.testimonial {
    display: flex;
    margin-right: auto;
    margin-bottom: 60px;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 60px;
}

.testimonial__img {
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 50%;
}

.testimonial__text {
    max-width: 680px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 1.6;
}

.testimonial__work {
    margin-bottom: 8px;
    color: #0f0322;
    font-weight: 600;
}


/* Contact */

.map iframe {
    border-radius: 12px;
}

.section-thirteenth .colored-box.blue {
    background-color: #345DEE;
}

.section-thirteenth .colored-box {
    padding: 38px 35px;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 130%;
    letter-spacing: -1px;
    color: #fff;
    border-radius: 5px;
}

.colored-box.blue {
    padding: 38px 35px;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 130%;
    letter-spacing: -1px;
    color: #fff;
    border-radius: 12px;
    flex: 1;
}


/* Different */

.different {
    background: #040817;
    color: #fff;
    padding-top: 80px;
    padding-bottom: 80px;
}

.different p {
    color: #fff;
}

.how-wework-block {
    display: flex;
    padding-bottom: 40px;
}

.how-wework-desc {
    padding-right: 60px;
    padding-left: 40px;
}

.how-wework-icon {
    display: flex;
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    border-radius: 20px;
}

.fas.how-wework-icon {
    font-size: 36px;
    display: flex;
}

.how-wework-desc {
    font-size: 24px;
    line-height: 36px;
    font-weight: 300;
}

img.how-wework-icon {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    max-width: 25px;
}


/* Team */

.people-tile {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    border-radius: 8px;
    color: #0e0066;
    text-decoration: none;
    background: white;
    margin-bottom: 20px;
}

.teampicwrap {
    overflow: hidden;
    height: 350px;
    background-position: 50% 0%;
    background-size: cover;
}

.people-desc {
    display: flex;
    padding: 30px;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
    color: #0e0066;
    text-decoration: none;
}

.people-name {
    margin-bottom: 6px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
}

.people-pos {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}


/* Responsive */

@media only screen and (max-width: 375px) {
    .video-block {
        width: 92%;
    }
}

@media screen and (max-width: 420px) {
    .hero-desc {
        padding-top: 120px !important;
    }
}

@media only screen and (max-width: 420px) {
    h1 {
        font-size: 50px;
    }
    h2 {
        font-size: 45px;
        line-height: 55px;
    }
    h3 {
        font-size: 40px;
    }
    .hero-desc {
        padding-top: 230px;
        padding-bottom: 20px;
    }
    .how-wework-block {
        flex-direction: column;
    }
    .how-wework-desc {
        padding-top: 20px;
        padding-right: 0px;
        padding-left: 0px;
    }
    img.how-wework-icon {
        max-width: 14px;
    }
}

@media only screen and (max-width: 575px) {
    .section-buttons {
        display: block !important;
    }
    .video-block {
        width: 93%;
    }
}

@media only screen and (max-width: 767px) {
    h1 {
        font-size: 60px;
        line-height: 60px;
    }
    h2 {
        font-size: 54px;
        line-height: 60px;
    }
    .hero-desc {
        padding-top: 210px;
    }
    .video-block {
        width: 94.5%;
    }
    .how-wework-icon {
        width: 48px;
        height: 48px;
        border-radius: 14px;
    }
}

@media only screen and (min-width: 421px) and (max-width: 767px) {
    .hero-desc {
        padding-top: 210px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .hero-section {
        padding-bottom: 50px;
    }
    .hero-desc {
        padding-top: 430px;
    }
    .different {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .product-desc {
        border-radius: 20px;
    }
}

@media screen and (min-width: 991px) {
    .hero-section {
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 991px) {
    .work-item {
        flex-direction: column;
    }
}

@media only screen and (min-width: 991px) and (max-width: 1199px) {
    .hero-desc {
        padding-top: 560px;
    }
}

@media only screen and (min-width: 1200px) {
    .hero-desc {
        padding-top: 660px;
    }
}

@media screen and (min-width: 1280px) {
    .how-works_icon-bk {
        display: flex;
        width: 80px;
        height: 80px;
        justify-content: center;
        align-items: center;
        flex: 0 0 auto;
        border-radius: 20px;
    }
}